<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div class="container">
  <h2>Choose your opponent: </h2>
  <form #testForm="ngForm">
    <select class="source" id="source" name="source" [(ngModel)]="system">
      <option *ngFor="let system of systems" [value]="system">{{system}}</option>
    </select>
    <select class="number" id="number" name="number" [(ngModel)]="number">
      <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
    </select>
    <button (click)="test(system, number)">Test</button>
  </form>
  <div class="content" *ngIf="isCalled">
    {{activeSystem}} {{number}}
    <result-component></result-component>
  </div>
</div>

